* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code';
  font-weight: normal;
  color: #F0F0F0;
}

body {
  background-color: #1E1E1E;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper,
main {
  display: flex;
  padding: 0rem 6rem 6rem 6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

.noa {
  text-decoration: none;
}

p {
  font-family: 'Playfair Display';
  margin-bottom: 8px;
  font-size: 18px;
}

tt {
  font-size: 16px;
}

.serif {
  font-family: 'Playfair Display';
}

.sans {
  font-family: 'Open Sans';
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }

  .noa:hover {
    text-decoration: none;
  }
}

.color-light-accent {
  color: gray;
}

@media (min-width: 1024px) {}